@media print{
	.breadcrumb,footer,.help_modal,nav{display:none;}
	.nav_container+#body{
		margin-left:0;
		width:100%;
	}
	.table-responsive{overflow-x:initial;}
	
	.offset-xl-1.col-xl-10{
		margin-left: 0 !important;
		width: 100% !important
	}
	#body,
	.nav_container+#body,
	.nav_container:not(.open)+#body,
	.nav_container.open+#body{
		width: 100% !important;
		padding-left: 0 !important;	
		margin-left: 0 !important;
	}
	.nav_container,
	.btn,
	.nav-tabs,
	.text-muted,
	.input-group-addon,
	.employee_notes_outer,
	nav{
		display: none !important;
		width: 0 !important;
	}
	.tab-content>.tab-pane{
		display: block;	
	}
	.tab-content{
		border-top: 1px solid #ddd;	
	}
	.tab-pane:before{
		content: attr(data-tab-title);
		display: block;
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 20px;
	}
	.form-group{
		margin-bottom: 5px;
	}
	.form-control{
		-webkit-appearance: none;
		width: auto !important;
		border: none !important;
		background: none !important;
		float: none !important;
		display: inline-block !important;
		vertical-align: top;
		padding: 0;
		min-width: 0px;
		resize: none;
	}
	label.col-sm-2{
		width: auto !important;
		float: none;
		display: inline-block !important;
	}
	label.col-sm-2:after{
		content: ':';
	}
	label.col-sm-2 + .col-sm-10{
		width: auto !important;
		float: none;
		display: inline-block !important;	
		padding: 0;
	}
}