// Bootstrap overrides
$blue:				#0c84b5;
$brand-primary:		$blue;
$enable-rounded:	false;
$enable-transitions:true;
// Sony Fanatic Variables
$email:		#b50c84;
$facebook:	#3b5998;
$print:		#84b50c;
$transition:all 250ms cubic-bezier(.06,.78,.17,.96);
$twitter:	#00aced;
