// Bootstrap overrides
$brand-primary:             #0c84b5;
$enable-flex:               true;
$enable-rounded:            true;
$enable-transitions:        true;
// Sony Fanatic Variables
$email:		#8c158b;
$facebook:	#3b5998;
$print:		#F3B606;
$transition:all 250ms cubic-bezier(.06,.78,.17,.96);
$twitter:	#00aced;
