/* Include Bootstrap default and override variables */
@import "custom";
@import "variables";
@import "mixins";
// Index.php
.home_product{
	background-position: center;
	background-size:cover;
	border:2px solid #fff;
	min-height:300px;
	*{
		margin-bottom:0;
	}
	a{
		&:hover{
			text-decoration: none;
		}
	}
	.meta{
		background:rgba(255,255,255,0.5);
		bottom:0;
		left:0;
		padding:5px;
		position:absolute;
		right:0;
		text-align:right;
	}
}
#latest_banner{
	border-bottom:1px solid #fff;
	sup{
		font-size:50%;
	}
}
