/* Include Bootstrap default and override variables */
@import "custom";
@import "variables";
@import "mixins";
// Index.php
#latest_banner{
	border-bottom:1px solid #fff;
	margin:auto;
	a{
		color:#fff;
		&:hover{
			text-decoration:none;
		}
	}
	sup{
		font-size:50%;
	}
}