/* Include Bootstrap default and override variables */
@import "custom";
@import "functions";
@import "variables";
@import "mixins";
// Product.php
.article{
	border-top:1px solid $gray-200;
	padding:1rem 0;
}
body{
	min-height:calc(100% - 3.75rem);
}
.carousel{
	.carousel-thumbnails{
		text-align:center;
		> *{
			display:inline-block;
			margin-top:5px;
		}
	}
}
#about > p:last-of-type{
	margin-bottom:0;
}