// Include Bootstrap default and override variables
@import "custom";
@import "variables";
// Common
footer{
	background:$gray-dark;
	//bottom:0;
	color:#fff;
	padding:1.5rem 15px;
	//position:absolute;
	//width:100%;
}