// Include Bootstrap default and override variables
@import "custom";
@import "functions";
@import "variables";
@import "mixins";
/* Glowt Menu
$f_menu_width:200px;
$m_menu_width:42px; */
/* New Menu */
$frame_colour:  darken(theme-color("primary"),30%);
$frame_colour_2:darken(theme-color("primary"),27.5%);
$frame_size:    40px;
$help_width:	300px;
$menu_a:        #fff;
$menu_width:    $frame_size*2;
$sub_menu_width:200px;
$transition:	all 0.25s linear;
/* Style overrides */
a,
a:focus,
a:hover{
	cursor:pointer;
}
.alert{
	border-width:0;
	break-inside:avoid-column;
	padding:$spacer*.75 $spacer;
	width:100%;
}
.alert-dismissible .close{
	right:0;
}
.avatar{
	background:#fff;
	border-radius:$spacer/4;
}
body{
	background:$gray-200;
	> .print_pre{
		margin-left:$menu_width*1.1;
		margin-top:$menu_width*1.1;
	}
}

.breadcrumb{
	background-color: transparent;
	border-radius:0;
	line-height:29px;
	margin-bottom:0;
	@media screen and (max-width: 1191px){
		font-size: .9em;
	}
}
.breadcrumb-item + .breadcrumb-item::before{
	content:">";
}
.breadcrumb-item{
	color:$frame_colour;
	a{
		color:$frame_colour;
	}
}
.card-details{
	margin-bottom:$spacer;
	max-height:350px;
	padding:$spacer;
	overflow-x:hidden;
	overflow-y:auto;
	h2{
		font-size:$spacer*1.75;
	}
	#g_map{
		border-radius:$spacer/4;
	}
	p{
		margin-bottom:.2rem;
	}
}
#g_map{
	height: 300px;
    z-index: 1;
	+ h2{
		background:rgba(255,255,255,0.75);
		padding:5px;
		position:absolute;
		right:calc(#{$spacer} - 1px);
		top:0;
		z-index:2;
	}
}
.card-title a{
	display:block;
	&:hover{
		text-decoration:none;
	}
}
.container-fluid{
	margin-right:0;
}
.fa-window-close.delete{
	cursor:pointer;
	color:$red;
}
.feasibility_summary,
.feasibility_totals{
	border-radius:$spacer/4;
	color:#fff;
	padding:$spacer/2;
	text-align: center;
}
.feasibility_summary{
	margin-bottom:$spacer;
}
.feasibility_totals{
	background:$gray-200;
	color:$gray-800;
}
.filter{
	display:flex;
	flex:1 1 100%;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center;
}
footer{
	bottom:10px;
	color: rgba(#fff,.6);
	cursor:default;
	font-size:$spacer*.75;
	line-height:17px;
	margin:0 !important;
	position:absolute;
	text-align: center;
	width:100%;
	z-index: 100;
	.error_report{
		color:inherit;
		cursor:pointer;
		padding:3px;
	}
	.version_num{
		font-size: .9em;
	}
	span{
		display:block;
	}
}
.form-inline{
	.checkbox{
		label{
			display:block;
		}
	}
}
.global_search{
	height: 100%;
	overflow:hidden;
	transition: 300ms cubic-bezier(.31,1,.31,1);
	width:50px;
	&.active{
		width:300px;
		.fa{
			width:0;
		}
	}
	> *{
		display:inline-block !important;
		vertical-align: top;
	}
	.global_search_box{
		width: 240px;
		vertical-align: middle;
		input{
			width: 100%;
			padding:.75rem 1.5rem;
		}
	}
}
h1{
	color:$frame_colour;
	height:$frame_size;
	line-height:$frame_size;
	margin-bottom:0;
	padding:0 $spacer;
}
h1,.h1{
	font-size:$spacer*1.75;
	@media screen and (max-width: 1191px){
		font-size: 1.5rem;
	}
}
h2,.h2{
	font-size:$spacer*1.6;
}
h3,.h3{
	font-size:$spacer*1.45;
}
h4,.h4{
	font-size:$spacer*1.3;
}
h5,.h5{
	font-size:$spacer*1.15;
}
.header-spacer{
	height: 70px;
	@media screen and (max-width: 767px){
		height: 52px;
	}
}
header{
	background:#fff;
	left:$menu_width;
	position:fixed;
	right:0;
	top:0;
	height: 70px;
	line-height: 70px;
	z-index:100;
	box-shadow: 2px 0px 10px 0px rgba(0,0,0,.4);
	padding-left: $spacer;
	h1{
		padding: 0;
	}
	.breadcrumb{
		line-height: 20px;
		padding: 0;
	}
	.header-left{
		float: left;
		height: 100%;
	}
	.header-right{
		float: right;
		height: 100%;
	}
	.actions,
	.user_interactions{
		border-left:1px solid $gray-200;
		float:right;
		list-style:none;
		margin-bottom:0;
		padding:0;
		height: 100%;
		a:hover{
			background:$gray-200;
			text-decoration:none;
		}
		> li{
			float:left;
			position:relative;
			line-height: inherit;

			a:not([href]):not([tabindex]){
				color:$gray-700;
			}
			> a{
				height: 100%;
				line-height: inherit;
				color:$gray-700;
				display:block;
				font-size:$spacer*1.75;
				min-width:50px;
				text-align:center;
			}
		}
	}
	.actions{
		border-right:1px solid $gray-200;
		@media screen and (max-width: 1191px){
			display: none;
		}
	}
	.user_interactions{
		margin-left:$spacer*4;
		> li{
			&.has_children.active ul{
				display:block;
			}
			&:last-of-type a{
				padding-left:10px;
				padding-right:10px;
			}
		}
		ul{
			background:$menu_a;
			box-shadow:-3px 3px 3px rgba($frame_colour,.25);
			display:none;
			list-style:none;
			min-width:125px;
			padding:0;
			position:absolute;
			right: 0;
			line-height: 1.5;
			li a{
				display:block;
				padding:5px;
			}
		}
		.profile-container{
			padding: 0 .5em;
			&:hover{
				background-color: #eceeef;
			}
		}
	}
	@media screen and (max-width: 1191px){
		.header-left{
			width: calc(100% - 175px);
			h1{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.breadcrumb{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				.breadcrumb-item{
					display: inline-block;
					vertical-align: middle;
					float: none;
				}
			}
		}
		.header-right{
			position: absolute;
			background-color: #fff;
			top: 0;
			right: 0;
			.user_interactions{
				height: 100%;
				margin-left: 0;
			}
		}
	}
	@media screen and (max-width: 991px){
		.header-left{
			h1{
				height: 100%;
				line-height: inherit;
			}
			.breadcrumb{
				display: none;
			}	
		}
	}
	@media screen and (max-width: 767px){
		height: 52px;
		line-height: 52px;
		left: 60px;
	}
}

.user_interactions{
	padding-right: 20px;
	li,
	li:last-of-type{
		.profile-picture-container{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			min-width: 0px;
			border-radius: 50%;
			overflow: hidden;
			padding: 0;
			&:before{
				content: '';
				display: block;
				padding-top: 100%;
			}
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: auto;
			}
			@media screen and (max-width: 767px){
				width: 40px;
				top: -2px;
			}
		}
	}
}

@for $i from 1 through 10{
	.level_#{$i}{
		margin-left:#{$spacer*($i*1.5)};
	}
}
main{
	position: relative;
	margin-left:$menu_width !important;
	margin-right:0;
	padding: 30px;
	transition:$transition;
	min-height: 100vh;
	@media screen and (max-width: 767px){
		padding: 20px;
	}
	&.open_help{
		margin-right:$help_width;
	}
	> .alert,
	.alert-shadow,
	> form .row > [class^="col"] > .alert,
	> form .row > [class*=" col"] > .alert,
	> form > .alert,
	> [class^="cols-"] > .alert,
	> [class*=" cols-"] > .alert,
	> .row > [class^="col"] > .alert,
	> .row > [class*=" col"] > .alert{
		box-shadow: 1px 1px 6px -1px rgba(0,0,0,.4);
	}
	> .card,
	.card-shadow,
	> form > .row > [class^="col"] > .card,
	> form > .row > [class*=" col"] > .card,
	> form > .card,
	> [class^="cols-"] > .card,
	> [class*=" cols-"] > .card,
	> .row > [class^="col"] > .card,
	> .row > [class^=" col"] > .card{
		box-shadow: 1px 1px 6px -1px rgba(0,0,0,.4);
		border: 1px solid transparent;
	}
	&.search_results .card-footer{
		text-align: center;
	}
	@media screen and (max-width: 767px){
		margin-left: 60px !important;
	}
}
.menu-wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: $menu-width;
	height: 100vh;
	z-index: 100;
	&:before{
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: $menu-width;
		z-index: 99;
		background-color: $frame_colour;
	}
	@media screen and (max-width: 767px){
		width: 60px;
		&:before{
			width: 60px;
		}
	}
}
nav{
	width:$menu_width;
	a{
		color:$menu_a !important;
		cursor: pointer;
		display:block;
		position: relative;
		z-index: 100;
		@media screen and (min-width: 992px){
			&:hover{
				color:$menu_a;
				background-color: theme-color("primary");
				text-decoration: none;
			}
		}
	}
	> ul {
		text-align: center;
		.has_children{
			@media screen and (min-width: 992px){
				&:hover>a::before{
					content:"\f054";
					font:normal normal normal 14px/1 FontAwesome;
					line-height:50px;
					position:absolute;
					right:5px;
				}
			}
			&.active > ul{
				z-index: 2;
				@include translateX(0);
			}
			.divider{
				border-bottom:1px solid rgba($menu_a,.25);
			}
			> ul{
				background: lighten($frame_colour_2,5%);
				bottom:0;
				left:$menu-width;
				position: fixed;
				text-align:left;
				top:$frame_size*1.75;
				width:$sub_menu_width;
				transition: 500ms cubic-bezier(.39,1,.38,1); 
				z-index: 1;
				box-shadow: 0px 0px 6px -2px rgba(0,0,0,.4);
				@include translateX(-105%);
				a{
					padding:$spacer/2;
				}
				@media screen and (max-width: 767px){
					top: 52px;
					left: 60px;
				}
			}
			li{
				font-size:$spacer;
			}
		}
		> li{
			width:100%;
			> a{
				font-size:.75rem;
				padding:10px 0;
				position:relative;
				z-index: 100;
				&:hover,
				&.active{
					color:$menu_a;
				}
				>.badge{
					border-bottom-left-radius:0;
					border-top-left-radius:0;
					font-size:$spacer*.75;
					left:0;
					position:absolute;
					top:0;
				}
				>.fal{
					display:block;
					font-size:$spacer*2;
				}
			}
		}
	}
	ul{
		list-style:none;
		padding-left:0;
		margin-bottom:0;
	}
	@media screen and (max-width: 767px){
		width: 60px;
		>ul{
			>li{
				>a{
					font-size: 0;
				}
			}
		}
	}
}
.pagination > li{
	> a,
	> span{
		&:hover,
		&:focus{
			color:#373a3c;
		}
	}
}
.small, small{
	font-weight:inherit;
}
.tab-content{
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
table{
	font-size:$spacer*.95;
	.form-group,
	label{
		margin-bottom:0;
	}
	pre{
		max-height:500px;
	}
	td > .avatar{
		max-height:100px;
	}
	thead th{
		vertical-align:middle !important;
	}
}
tfoot{
	td,
	th{
		border-top:1px solid $gray-700 !important;
	}
}
/* Help Draw */
main.open_help{
	padding-right:300px;
}
.help_draw{
	background:$menu_a;
	bottom:0;
	box-shadow: 2px 9px 10px 0px rgba(0,0,0,0.4);
	padding:.5rem;
	position:fixed;
	right:-$help_width - 5;
	top:$frame_size*1.75;
	transition:$transition;
	width:$help_width;
	z-index:999;
	&.open{
		right:0;
	}
	>h2:first-of-type{
		border-bottom:1px solid rgba(0,0,0,.1);
		padding-bottom:.5rem;
	}
	p{
		font-size:.95rem;
		margin-bottom:.5rem;
	}
}
.loading_bar{
	margin-bottom:15px;
	overflow:hidden;
	div{
		animation:searching linear 4s infinite;
		height:3px;
		position:relative;
		width:300px;
	}
}
.mob_help_modal{
	display: inline-block;
	float: right;
	height: 44px;
	line-height: 44px;
	margin-right: 15px;
}
// jQuery UI
.ui-autocomplete{
	position:absolute;
	z-index:1200;
}
.ui-menu{
	list-style:none;
	margin:0;
	padding:0;
	a{
		background:#444;
		color:#fff;
		cursor:pointer;
		display:block;
		padding:5px;
		&:hover{
			background:theme-color("primary");
			color:#fff;
			text-decoration:none;
		}
	}
	li{
		margin:0;
	}
}
.ui-helper-hidden-accessible{
	left:-999em;
	position: absolute;
}
// Media Queries
@media screen and (max-width: 33em){
	.help_draw{
		top:44px;
		&.open{
			width:100%;
		}
	}
	.nav-tabs:not(.no-style){
		.nav-item{
			width: 100%;
			float: none;
			margin-left: 0;
			border-bottom: 1px solid #eee;
			&:first-child .nav-link{
				border-top: 1px solid #ddd;
				border-radius:$spacer*.25 $spacer*.25 0 0;
			}
			&:last-child{
				border-bottom: 1px solid #ddd;	
			}
			+ .nav-item{
				margin-left: 0;	
			}
		}
		.nav-link{
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;	
			padding: .33em 1em;
			border-radius: 0px;
			&.active,
			&.active:focus,
			&:hover{
				border-color: #eee #ddd transparent;
			}
		}
	}
	.table{
		th{
			display: none;
			.form-group,
			.form-group .checkbox{
				margin: 0;
			}
		}
		tr{
			display: block;
			margin: 7.5px 0;
			padding: .3rem;
			border: 1px solid #ddd;
		}
		thead,
		tr{
			th.show-heading,
			td{
				position: relative;
				display: block;
				width: 100%;
				min-height: 32.6px;
				padding-left: calc(100px + .3rem);
				border-top: none;
			}
			th,
			td{
				&:before{
					display: block;
					content: attr(data-heading);
					color:inherit;
					font-weight: 500;
					width: 100px;
					position: absolute;
					top: .3rem;
					left: .3rem;
					bottom: .3rem;
					text-align: left;
				}
			}
		}
	}
}