// Include Bootstrap default and override variables
@import "custom";
@import "variables";
@import "mixins";
// Common
body{
	> .print_pre{
		margin-left:200px;
	}
}
.input-group-addon{
	background-color:$gray-lighter !important;
}
/* Menu */
nav{
	background:#444;
	bottom:0;
	color:#999;
	overflow:hidden;
	position:fixed;
	top:0;
	width:200px;
	a{
		color:inherit;
		display:block;
		padding:5px;
		&:hover{
			text-decoration: none;
		}
	}
	&+#body{
		margin-left:200px;
		padding:15px 0;
		width:calc(100% - 200px);
	}
	li.has_children{
		cursor: pointer;
		position:relative;
		width:100%;
		&::before{
			content:'\f054';
			display: none;
			font:normal normal normal 14px/1 FontAwesome;
			position: absolute;
			right:10px;
			top:14px;
			z-index:0;
		}
		&.active::before,
		&:hover::before{
			display:block;
			transition:all .5s;
		}
		&.active{
			background:#444;
			position: absolute;
			top:34px;
			z-index:1;
			&::before{
				transform: rotate(90deg);
			}
		}
	}
	ul{
		list-style: none;
		margin:0;
		padding:0;
		position:relative;
		a:hover,
		li.active>a,
		li.has_children a:hover{
			color:#fff !important;
		}
		ul{
			height:calc(100vh - 38px - 38px);
			background:#444;
			border:0;
			display: block;
			left:230px;
			overflow:hidden;
			padding-left:0;
			position:absolute;
			right:0;
			transition:all .5s;
			white-space:nowrap;
		}
		li.active>ul{
			left:0;
			padding-left:30px;
		}
	}
}
.nav_head{
	border-bottom: 1px solid #fff;
	font-size:1.2rem;
	font-style: italic;
	text-align: center;
	a,
	a:hover{
		background:$brand-primary;
		color:#fff;
	}
}
table{
	.form-group{
		display:block !important;
		.input-group{
			display:flex;
		}
	}
}
.ui-autocomplete{
	position:absolute;
	z-index:1200;
}
.ui-menu{
	list-style:none;
	margin:0;
	padding:0;
	a{
		background:#444;
		color:#fff;
		cursor:pointer;
		display:block;
		padding:5px;
		&:hover{
			background:$brand-primary;
			color:#fff;
			text-decoration:none;
		}
	}
	li{
		margin:0;
	}
}
.ui-helper-hidden-accessible{
	left:-999em;
	position: absolute;
}
/* Media Queries */
	/* XS */
	.cols-md-6, .cols-lg-4{
		column-gap:3rem;
	}
	@media (min-width: 34em){
		/* SM */
	}
	@media (min-width: 48em){
		/* MD */
		.cols-md-6{
			column-count:2;
		}
	}
	@media (min-width: 62em){
		/* LG */
		.cols-lg-4{
			column-count:3;
		}
	}
	@media (min-width: 75em){
		/* XL */
	}


/* Old Styles
.fa-search+#search_form,#footer span{
	display:inline-block;
	vertical-align:middle;
}
.tab-content{
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.search_btn_container .fa-search{
	position: relative;
	top: -2px;
}
.loading_bar{
	margin-bottom:15px;
	overflow:hidden;
}
.loading_bar div{
	animation:searching linear 4s infinite;
	height:3px;
	position:relative;
	width:300px;
}
@-webkit-keyframes searching{
	0%{left:-300px;}
	100%{left:100%;}
}
@keyframes searching{
	0%{left:-300px;}
	100%{left:100%;}
}

.full_page_search_container{
	display: none;
	position: fixed;
	top: 0;
	left: 200px;
	right: 0;
	bottom: 0;
	background-color: #eceeef;
	padding: 15px;
	z-index: 110;
	overflow-x: hidden;
	overflow-y: scroll;
}
.full_page_search_close{
	position: absolute;
	top: 0;
	right: 15px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	cursor: pointer;
}
.full_page_search_page_bar{
	display: block;
	width: 100%;
	height: auto;
	max-width: none;
	color: #373a3c;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: .25rem;
	padding: .75rem 1rem;
	line-height: 1.5;
	font-size: 1rem;
	margin-bottom: .5rem;
}
.full_page_search_page_bar:focus{
	border-color: #ddd;
}
.full_page_search_container .nav-tabs,
.full_page_search_container .tab-content{
	border-color: transparent;
}
.full_page_search_container .tab-content.content-open,
.full_page_search_container .nav-tabs.content-open{
	border-color: #ddd;
}
.full_page_search_container .tab-content.content-open{
	background-color: #fff;
}
.mob_full_search_btn{
	float: right;
}



@media screen and (max-width: 62em){
	.full_page_search_container{
		left: 42px;
	}
}

@media screen and (max-width: 33em){
	.full_page_search_container{
		left: 0;
		padding-top: 59px;
	}
}
@media screen and (min-width: 33em) and (max-width: 62em){
	.search_form{
		padding: 0;
	}
	.search_box{
		padding: 9px 0;
		margin: 4px 0;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.search-active,
	.search_form.active{
		background-color: #eceeef;
	}
	
}
@media screen and (max-width: 33em){
	.search_form,
	.search_btn_container{
		display: none;
	}
	.help_modal{
		display: none;
	}
}
/* jQuery UI

/* Responsive tables
@media (max-width: 33em){
	.table thead th{
		display: none;
	}
	.table thead th .form-group,
	.table thead th .form-group .checkbox{
		margin: 0;
	}
	.table tr{
		display: block;
		margin: 7.5px 0;
		padding: .3rem;
		border: 1px solid #ddd;
	}
	.table thead th.show-heading,
	.table tr td{
		position: relative;
		display: block;
		width: 100%;
		min-height: 32.6px;
		padding-left: calc(100px + .3rem);
		border-top: none;
	}
	.table thead th:before,
	.table tr td:before{
		display: block;
		content: attr(data-heading);
		color:inherit;
		font-weight: 500;
		width: 100px;
		position: absolute;
		top: .3rem;
		left: .3rem;
		bottom: .3rem;
		text-align: left;
	}
}

/* Responsive Bits

@media (max-width: 33em){
	h1,.h1{
		font-size: 1.8rem;
		line-height: 38px;
	}
	h1 .text-muted,
	.h1 .text-muted{
		display: block;
		line-height: 100%;
		font-size: 70%;
	}
	.breadcrumb{
		padding: .5rem .75rem;
		margin: .75rem 0 1rem;
	}
	h2,.h2{
		font-size: 1.6rem;
	}
}

/* Responsive tabs
@media (max-width: 33em){

	.nav-tabs:not(.no-style) .nav-item{
		width: 100%;
		float: none;
		margin-left: 0;
		border-bottom: 1px solid #eee;
	}
	.nav-tabs:not(.no-style) .nav-item + .nav-item{
		margin-left: 0;	
	}
	.nav-tabs:not(.no-style) .nav-link{
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;	
		padding: .33em 1em;
		border-radius: 0px;
	}
	.nav-tabs:not(.no-style) .nav-link.active,
	.nav-tabs:not(.no-style) .nav-link.active:hover,
	.nav-tabs:not(.no-style) .nav-link.active:focus,
	.nav-tabs:not(.no-style) .nav-link:hover{
		border-color: #eee #ddd transparent;	
	}
	.nav-tabs:not(.no-style) .nav-item:first-child .nav-link{
		border-top: 1px solid #ddd;
		border-radius: .25rem .25rem 0 0;
	}
	.nav-tabs:not(.no-style) .nav-item:last-child{
		border-bottom: 1px solid #ddd;	
	}
	
}*/